﻿<div ng-controller="CategoryDetailController">
    Id: {{category.Id}}<br />
    Name: {{category.Name}}<br />
    <table class="uk-table">
        <table class="uk-table">
            <caption>Products in Category</caption>
            <thead>
                <tr>
                    <th>#</th>

                    <th>Name</th>
                </tr>
            </thead>

            <tr ng-repeat="product in category.Products">
                <td>{{product.Id}}</td>
                <td><a href="#Product/{{product.Id}}">{{product.Name}}</a></td>
            </tr>
        </table>

    </table>
</div>