﻿<div  ng-controller="CategoryEditController">
    <form class="uk-form" ng-submit="save()">
        <input type="hidden" name="Id" value="{{category.Id}}" />

        <div class="uk-form-row">
            <label>Id</label>
            {{category.Id}}
        </div>
        <div class="uk-form-row"
        <label>Name</label>
            <input ng-model="category.Name"  type="text" name="Name" value="{{category.Name}}" />
    </div>
        <br />
        <button type="submit" class="uk-button uk-button-primary">Save</button>
    </form>
</div>